<div class="format-outwear">
    <div class="p-grid sub-container">
        <div class="p-col-12">
            <p-breadcrumb [model]="items"></p-breadcrumb>
        </div>
        <div class="p-col-12">
            <div class="p-col-5 format-jacket-img">
                <img src="../../../assets/img/tough-mojo-jacket-img1.png" width="300px" height="475px">
            </div>
            <div class="p-col">
                <span class="format-title">Tough Mojo Jacket</span>
                <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Iusto, possimus illo? Sunt iste commodi delectus
                    alias voluptates nobis, doloribus pariatur, magnam eius quia facilis sequi. Repellendus explicabo
                    praesentium maxime quasi laudantium ea, magni dicta dolores possimus debitis, laboriosam, libero aliquam
                    odit autem sint soluta. Neque ea quae voluptatem maiores. Vero, eum? Enim repellendus est cum, vitae
                    accusamus nesciunt sunt iure similique libero dolor veniam suscipit, assumenda dolorum nihil iste. Similique
                    voluptatibus aut tempore placeat laudantium vel consequuntur neque dolor velit necessitatibus, architecto
                    hic maiores assumenda qui quia distinctio ipsum cupiditate, numquam harum! Perspiciatis harum aliquid ut,
                    nesciunt deleniti officiis. Eos provident facere, nulla distinctio dolor a minus illo ipsa obcaecati
                    aspernatur molestiae voluptatibus in adipisci atque nihil. Rerum expedita laudantium ducimus necessitatibus
                    recusandae? Voluptatum, sapiente!</p>
            </div>
        </div>
    </div>
</div>
