<div class="format-reviewers">
    <div class="p-grid format-container">
        <div class="p-col-fixed" style="width: 1000px;">
            <div class="p-col-12">
                <div class="p-offset-2">
                    <span class="format-review-title">Reviews</span>&nbsp;&nbsp;&nbsp;<a href="#">Write a review on this product</a>
                </div>
            </div>
            <div class="p-col-12">
                <div class="p-grid">
                    <div class="p-col format-img">
                        <img src="../../../assets/img/reviewer1.png" width="75px" height="75px">
                        <br />
                        <span>Shaun White</span>
                    </div>
                    <div class="p-col-10 format-content">
                        <span class="format-review-title">This thing is a monter! 08/20/2013</span>
                        <p>Lorem, ipsum dolor sit amet consectetur adipisicing elit. Tenetur cumque quos eos alias. Placeat ullam maxime quos, a quo magni voluptatum doloremque dolorum? Totam soluta corporis aliquam quae fuga atque temporibus dolores quidem repellendus est, hic quis natus aliquid! Fuga minima voluptatibus voluptatem odit officiis magnam, accusamus, pariatur cumque provident dolore quibusdam laborum, quas fugiat cupiditate expedita. Labore, laudantium sequi? Itaque facilis ut modi ipsa suscipit. Iure quo amet quis asperiores. Deserunt praesentium alias placeat incidunt dignissimos, ipsum, esse sequi quae aliquam harum est reiciendis consectetur quo? Vero architecto provident possimus laboriosam! Quibusdam numquam aperiam eaque dolor doloribus eum asperiores!</p>
                    </div>
                </div>
            </div>
            <div class="p-col-12">
                <div class="p-grid">
                    <div class="p-col format-img">
                        <img src="../../../assets/img/reviewer2.png" width="75px" height="75px">
                        <br/>
                        <span>Jennie Loren</span>
                    </div>
                    <div class="p-col-10 format-content">
                        <span class="format-review-title">This thing is a monter! 08/20/2013</span>
                        <p>Lorem ipsum dolor sit, amet consectetur adipisicing elit. Sequi dolores quaerat iste minima quos doloribus quae, nemo sit nulla dolorum odio enim et obcaecati voluptatem totam impedit distinctio cumque suscipit corporis. Voluptatem consectetur veniam excepturi rerum accusantium voluptates velit incidunt quod. Laudantium suscipit quas quos, numquam nostrum, aut minus eum est, reiciendis a ex fugit sequi consequuntur inventore? Iusto, assumenda similique nam culpa hic voluptas quae modi id. Beatae eius id minus deserunt maxime consequuntur officiis corrupti sequi velit ducimus.</p>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
