<div class="format-footer">
    <div class="p-grid p-justify-around p-nogutter">
        <div class="p-col-4">
            <img src="../../../assets/img/axiom-logo-main.png" height="45px" width="120px" alt="Axium">
        </div>
        <div class="p-col-fixed" style="width: 545px;">
            <ul class="p-grid format-unordered-list">
                <li class="p-col">
                    <a href="#" target="_blank">
                        <span>About Us</span>
                    </a>
                </li>
                <li class="p-col">
                    <a href="#" target="_blank">
                        <span>Contact Us</span>
                    </a>
                </li>
                <li class="p-col">
                    <a href="#" target="_blank">
                        <span>Privacy</span>
                    </a>
                </li>
                <li class="p-col">
                    <a href="#" target="_blank">
                        <span>Terms of Service</span>
                    </a>
                </li>
                <li class="p-col">
                    <a href="https://www.facebook.com/" target="_blank">
                        <img src="../../../assets/img/fb-icon.png" alt="FaceBook">
                    </a>
                </li>
                <li class="p-col">
                    <a href="https://twitter.com/" target="_blank">
                        <img src="../../../assets/img/twitter-icon.png" alt="Twitter">
                    </a>
                </li>
            </ul>
        </div>
    </div>
</div>
