<div class="p-grid p-nogutter format-misc-details">
    <div class="p-col-5 format-img">
        <img src="../../../assets/img/tough-mojo-jacket-img2.png" width="400px" height="475px">
    </div>
    <div class="p-col format-text-container">
        <span class="format-title">Tough Mojo Jacket</span>
        <p class="format-text">Lorem ipsum dolor sit, amet consectetur adipisicing elit. Tempora dicta, mollitia maxime
            commodi nobis ullam id recusandae nihil tempore blanditiis fugit dolor ratione iure magnam expedita, fugiat
            dolores a, doloremque unde sit eum suscipit numquam voluptates iusto. Illo vel eius esse dolores quos ipsam
            numquam alias vitae, quae quo laboriosam et iusto dolore! Repellat expedita velit quod veniam ullam.</p>
        <p class="format-text">Quam dolore tempora corrupti quod omnis modi animi aperiam eum architecto mollitia
            labore, saepe a odit impedit adipisci explicabo illum repellat ratione voluptatum ipsum reprehenderit quia
            qui! Temporibus deleniti natus facilis, nemo velit accusamus? Laudantium consequatur odit qui, repellendus
            iure soluta! Sapiente quam deleniti explicabo asperiores, animi porro. Aspernatur vel soluta molestias
            ratione dicta ullam cum esse voluptate! Tempora repellat id delectus non consectetur voluptate maxime
            labore.</p>
        <p class="format-text">Odio repellat sunt provident voluptatum perferendis velit cumque officia quia atque
            saepe? Tenetur delectus eligendi sequi facilis provident. Nisi a rem, corrupti architecto nihil distinctio
            recusandae consequuntur perferendis impedit cum obcaecati quisquam odit, adipisci velit iusto, ipsum eaque
            officiis maiores sunt! Praesentium laudantium sapiente alias voluptatum rem impedit, inventore delectus
            totam vero, debitis eum, eligendi possimus. Nulla sunt sequi magni deleniti nobis assumenda autem distinctio
            aliquid esse commodi ipsa eaque tenetur saepe delectus veniam ipsum, ducimus exercitationem et dolore
            eveniet reprehenderit cum. Omnis maxime nam, rerum minus illum quia dolores inventore quidem. Reiciendis
            harum, cumque placeat quisquam nemo maiores repellat?</p>
        <p>Lorem ipsum dolor sit, amet consectetur adipisicing elit. Iusto earum quisquam numquam sit id praesentium
            exercitationem facilis molestiae perspiciatis aliquid nemo laboriosam reiciendis, architecto ipsam minima.
            Libero dolor exercitationem, expedita pariatur omnis quam tenetur, in quis facilis deleniti rem, accusamus
            obcaecati repudiandae vitae sit assumenda enim nihil a vel esse officia doloribus fugit. Debitis totam nulla
            sunt maiores, alias blanditiis provident error culpa fuga praesentium adipisci? Saepe quisquam reprehenderit
            eos numquam unde necessitatibus odio mollitia!</p>
        <p>Voluptas molestiae odio dolor quibusdam sequi nemo illum sit dolorum nihil porro nisi eum, sint consequuntur
            harum saepe dignissimos rerum numquam velit ullam corrupti consectetur obcaecati nesciunt, magnam maiores?
            Possimus nulla nam quo modi, minus amet molestiae fugit voluptatibus iste labore. Harum eaque ipsam
            quisquam, illo culpa incidunt debitis, doloribus libero est porro ipsum impedit ad ut maxime odit earum
            repudiandae laudantium optio voluptate minus, cupiditate commodi expedita? Sed facere obcaecati deleniti,
            nam quidem iste?</p>
        <p>Ratione odit corporis corrupti aspernatur, perferendis placeat libero blanditiis possimus rerum consequatur
            explicabo quidem optio voluptate ea minus dolor autem itaque. Assumenda temporibus commodi pariatur adipisci
            ab dicta eos doloribus. Nam, eveniet accusantium fugit beatae ea tenetur nisi officia! Pariatur earum illo
            molestiae fugit totam, officia architecto nihil rerum minus deserunt eveniet aliquid laborum ipsa ea dicta
            natus qui iure consectetur ullam incidunt? Quasi recusandae ab facere magnam dolor facilis quo laborum
            voluptatum eum eveniet!</p>
        <p>Beatae voluptas veniam exercitationem? Asperiores dolore cum porro facere fugit modi ullam veniam labore
            earum eum, quo molestias? Rem, provident ducimus illo nulla, recusandae qui ullam possimus vel labore
            voluptatum incidunt aliquid. Inventore perspiciatis quod repellat. Dignissimos omnis, reiciendis a quas
            facere pariatur quam hic quos cumque. Incidunt quod dolor natus neque amet libero eveniet dolore, distinctio
            recusandae deserunt earum. Magni veritatis maxime nisi non, officia ducimus officiis ipsa ab recusandae,
            enim soluta distinctio aliquid.</p>
        <p>Natus hic rerum atque tempora laboriosam praesentium nesciunt laborum odit dolorem, illum obcaecati
            temporibus quaerat? Maxime quas unde voluptates fugit totam iure, pariatur, quo fugiat itaque dolores est
            in, tenetur veniam quae iste. Odit reiciendis fugiat esse! Asperiores natus aspernatur iste. Ex iste impedit
            reiciendis repellendus deserunt consectetur placeat, quae aspernatur asperiores quam unde laborum numquam
            delectus nam modi esse perferendis nemo rerum perspiciatis illum molestias optio quisquam. Ducimus a
            explicabo ullam eaque cum unde!</p>
    </div>
</div>

