<div class="format-header">
    <div class="p-grid p-justify-around">
        <div class="p-col-3">
            <img src="../../../assets/img/axiom-logo-main.png" height="65px" width="315px" alt="Axium">
        </div>
        <div class="p-col-3">
            <div class="p-grid p-nogutter format-search-entry">
                <div class="p-col-12">
                    <input type="search" class="format-search-input" placeholder="SEARCH FOR GEAR">
                </div>
                <div class="p-col-fixed" style="width: 350px;">
                    <ul class="p-grid format-unordered-list">
                        <li class="p-col">
                            <a href="https://www.facebook.com/" target="_blank">
                                <img src="../../../assets/img/fb-icon.png" alt="FaceBook">
                            </a>
                        </li>
                        <li class="p-col">
                            <a href="https://twitter.com/" target="_blank">
                                <img src="../../../assets/img/twitter-icon.png" alt="Twitter">
                            </a>
                        </li>
                        <li class="p-col">
                            <a href="#" target="_blank">
                                <span>My Account</span>
                            </a>
                        </li>
                        <li class="p-col">
                            <a href="#" target="_blank">
                                <span>Cart</span>
                            </a>
                        </li>
                        <li class="p-col">
                            <a href="#" target="_blank">
                                <span>Logout</span>
                            </a>
                        </li>
                    </ul>
                </div>
            </div>
        </div>
    </div>
</div>
