.format-nav-menu {
    background-color: #f8f9fa;
    color: #495057;
    margin: 0 auto;
}

:host::ng-deep .p-menubar {
    outline: none;
    box-shadow: none;
    border: none;
    border-radius: 0;
    white-space: nowrap;
    margin: 0 auto;
    font-size: xx-large;

    & a[aria-haspopup=true],
    & .p-submenu-list {
        width: 325px;
    }
}
